<!DOCTYPE html>
<html>
      <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
      </head>
  <body>
        <h1>Welcome to  <%= @user.email %></h1>
        <p>
          your password is: <%= @randompassword %>.<br/>
        </p>
        <p>
          when you login to the project , please chenge your password.
        </p>
  </body>
</html>