<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="content-type">
  <title>Ruby on Rails: Documentation</title>
  <link media="screen" type="text/css" href="/stylesheets/screen.css" rel="Stylesheet">
</head>

<body class="overview">




<div class="content" style="width=100%" align="center">
      <div class="sub">
      <h1 style="color:red">APIs</h1>
      </div>

    <div class="main">
        <p>
          <a href="http://api.rubyonrails.org/">Browse all frameworks, classes, and methods</a>.
        </p>
    </div>


    <br clear="all">

    <div class="sub">
      <h1 style="color:blue">Guides</h1>
    </div>

    <div class="main">
            <p>
                When you're just getting started or want to learn about Rails in general,
                the <a href="http://guides.rubyonrails.org/">Rails Guides</a>
                 is a great way to compliment the API section as well. It's being maintained as part of
                 <a href="https://github.com/rails/docrails">the docrails project</a>
           </p>
    </div>
    <br clear="all">
    <div class="sub">
      <h1 style="color:green">Books</h1>
    </div>
    <div class="main">
        <p>
          <a href="http://pragprog.com/titles/rails4/agile-web-development-with-rails">Agile Web Development with Rails</a> will teach you all you need to know about Ruby and Rails 4 to build killer web applications. For more advanced material, Rails core member José Valim has written <a href="http://pragprog.com/book/jvrails2/crafting-rails-applications">Crafting Rails 4 Applications</a>.
        </p>
      <p>
          <a class="no_link_hover" href="http://pragprog.com/titles/rails4/agile-web-development-with-rails"><img width="140" height="150" class="bordered" style="margin-left: 15px" src="/images/pages/documentation/awdr4.png"></a>
          <a class="no_link_hover" href="http://pragprog.com/book/jvrails/crafting-rails-applications"><img width="140" height="150" class="bordered" style="margin-left: 15px" src="/images/pages/documentation/cra-mini.png"></a>
        </p>
        <p>See all the other <a href="http://www.amazon.com/gp/search?ie=UTF8&amp;keywords=ruby%20on%20rails&amp;tag=rubonrai-20&amp;index=books&amp;linkCode=ur2&amp;camp=1789&amp;creative=9325">Ruby on Rails books</a> at Amazon.</p>
    </div>
</div>
</body>
</html>
