#header {
  display: block;
  width: 710px;
  padding: 14px 15px;
  margin: 0 auto;
  margin-top: 45px;
}
 
#content {
  display: block;
  background: #fff;
  padding: 14px 20px;
}// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
